<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">首页</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">关于</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">服务</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">联系</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                人生最大的悲剧就是：你配不上自己的野心，还辜负了所受的苦难！
            </div>
        </div>
    </div>
</footer>
